.overlay-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile {
  &-modal {
    width: 622rpx;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
  }

  &-wrap {
    position: relative;
    padding: 24px 25px 24px;
    text-align: center;
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      left: 0;
      bottom: 0;
      height: 1px;
      background-color: #e5e5e5;
      transform: scale(1, 0.5);
      transform-origin: center bottom;
    }
  }

  &-title {
    padding-bottom: 20px;
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }

  &-content {
    line-height: 20px;
    font-size: 15px;
    color: #888;
  }

  &-btns {
    display: flex;
    height: 48px;
  }

  &-btns-cancel,
  &-btns-ok {
    flex: 1;
    border: 0;
    border-radius: 0;
    background: none;
    font-size: 18px;
    line-height: 48px;
    &::after {
      border: 0;
    }
  }

  &-btns-cancel {
    color: #000;
  }

  &-btns-ok {
    color: #3bc51e;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 1px;
      right: 0;
      top: 0;
      height: 100%;
      background-color: #e5e5e5;
      transform: scale(0.5, 1);
      transform-origin: right center;
    }
  }
}
