/* eslint-disable */
function renderPrice(price, isIOS, useKe, nounit, toFixed, showZero) {
  var unit = useKe ? '<i class="icon-font i-kedian"></i>' : '¥';
  var fixedNum = toFixed ? toFixed : 2;
  var priceNum = parseInt(price);

  if (priceNum === 0 && !showZero) {
    return '免费';
  }

  if (isIOS && priceNum !== 0) {
    return '';
  }

  return (nounit ? '' : unit) + (priceNum / 100).toFixed(fixedNum);
}

function renderWKPrice(price, tooFixed = 2) {
  return renderPrice(price, false, false, false, 2, true)
}

function renderUrl(url) {
  return url ? 'https:' + url.replace(getRegExp('https?:'), ''): '';
}

function renderLiveTime(bgTime, endTime) {
  var bgDate = getDate(bgTime * 1000);
  var endDate = getDate(endTime * 1000);
  var bgHours = padZero(bgDate.getHours()) + ':' + padZero(bgDate.getMinutes());
  var endHours = padZero(endDate.getHours()) + ':' + padZero(endDate.getMinutes());
  return bgHours + '-' + endHours;
}

function padZero(num) {
  return num >= 10 ? num : '0' + num;
}

// 课程包括的服务
function getCourseServerList(type, course_special_desc) {
  var arr = ['答疑', '习题', '资料', '回放'];
  var typeList = getBitMapValue(type, arr);
  if (course_special_desc) {
    typeList.unshift(course_special_desc);
  }
  return typeList;
}

function renderAvatar(url) {
  if (!url) {
    return '/assets/img/avatar.png';
  }
  return renderUrl(removeWebp(url.replace(getRegExp('/0$'), '/96')));
}

// 课程封面图片为 356 大小
function renderCourseCoverUrl(url, size = 356) {
  url = renderUrl(url);
  if (url[url.length - 1] === '/') {
    return url + size;
  } else {
    return removeWebp(url.replace('/90?', '/' + size + '?')).replace(getRegExp('\?$'), '');
  }
}

// 去掉图片的webp
function removeWebp(url) {
  return url.replace(getRegExp('\?tp=webp$'), '');
}

/**
 * 获取二进制表示的值列表
 * @param {number} raw 数值
 * @param {string[]} map bit对应表，排序从低位到高位
 * @return 二进制对应的值列表，从低位到高位
 */
function getBitMapValue(raw, map) {
  var v = raw;
  var ret = [];
  var val;

  if (!map || !map.length) {
    return ret;
  }

  for (var i = map.length - 1; i > -1; --i) {
    val = Math.pow(2, i);
    if (v >= val) {
      ret.unshift(map[i]);
      v -= val;
    }
  }

  return ret;
}

function renderCoverTips(opts) {
  var courseState = opts.courseState,
    price = opts.price,
    liveUserNum = opts.liveUserNum,
    applyNum = opts.applyNum,
    recentSignNum = opts.recentSignNum,
    coverTips = '';

  if (courseState === 2) {
    coverTips = formatOrderedNum(liveUserNum || 0) + '人正在上课';
  } else if (price > 0) {
    coverTips = formatOrderedNum(applyNum) + '人购买';
  } else {
    coverTips = formatOrderedNum(recentSignNum) + '人最近报名';
  }

  return coverTips;
}

function formatOrderedNum(num) {
  if (num >= 10000000) {
    return Math.floor(num / 10000000) + '千万';
  }
  if (num >= 1000000) {
    return Math.floor(num / 1000000) + '百万';
  }
  if (num >= 10000) {
    return Math.floor(num / 10000) + '万';
  }
  return num || 0;
}

function renderTitleWithKeyWord(name, keyWord) {
  // console.log(name, keyWord);
  var ret = [];

  // 搜索关键字标红
  if (!keyWord) {
    ret = [{
      type: 0,
      text: name,
    }];
  }

  var curWordIndex = name.toLowerCase().indexOf(keyWord.toLowerCase());
  var len = keyWord.length;

  if (curWordIndex === -1) {
    ret = [{
      type: 0,
      text: name,
    }];
  }

  ret = [
    {
      type: 0,
      text: name.substring(0, curWordIndex),
    },
    {
      type: 1,
      text: keyWord,
    },
    {
      type: 0,
      text: name.substring(curWordIndex + len),
    },
  ];

  return ret;
}

var SECONDS_OF_MINUTE = 60;
var SECONDS_OF_HOUR = 3600;
var SECONDS_OF_DAY = 24 * 3600;

/**
 * 解析时间戳
 * @param {number} ts 时间戳
 */
function parsedTimestamp(ts) {
  return ts.toString().length === 10 ? ts * 1000 : ts;
}

/**
 * 是否今天
 * @param {number} ts 时间戳
 */
function isToday(ts) {
  return getDate(ts).toDateString() === getDate().toDateString();
}

/**
 * 格式化倒计时
 * @param {number} time 时间戳
 * @param {Object} opts 选项
 * @param {boolean} opts.ignoreDay 忽略天
 * @param {boolean} opts.ignoreHour 忽略时
 * @returns {string}
 */
function formatDuration(time, opts = {}) {
  var ignoreDay = opts.ignoreDay || false;
  var ignoreHour = opts.ignoreHour || false;
  var day = ignoreDay ? 0 : Math.floor(time / SECONDS_OF_DAY);
  var hour = ignoreHour
    ? 0
    : Math.floor((time - day * SECONDS_OF_DAY) / SECONDS_OF_HOUR);
  var minute = Math.ceil(
    (time - day * SECONDS_OF_DAY - hour * SECONDS_OF_HOUR) / SECONDS_OF_MINUTE
  );

  var result = '';
  if (day > 0) {
    result += day + '天';
  }
  if (hour > 0) {
    result += hour + '时';
  }
  if (minute > 0) {
    result += minute + '分';
  }
  return result;
}

function formatDate(ts, format = 'Y-m-d') {
  var timestamp = parsedTimestamp(ts);
  var date = getDate(timestamp);
  var times = {
    Y: date.getFullYear(),
    m: padZero(date.getMonth() + 1),
    d: padZero(date.getDate()),
    H: padZero(date.getHours()),
    h: padZero(((date.getHours() + 11) % 12) + 1),
    i: padZero(date.getMinutes()),
    s: padZero(date.getSeconds()),
  };
  var replaceExp = getRegExp('[YymdHhis]', 'g');
  return format.replace(replaceExp, function(c) {
    return times[c];
  });
}

/**
 * 获取退款文案
 * @param {number} refundType
 */
function getRefundWording(refundType) {
  switch (refundType) {
    case 3:
      return '课中包退';
    case 2:
      return '七天包退';
    default:
      return '课前随时退';
  }
}
/**
 * 获取退款说明
 * @param {number} refundType
 */
function getRefundDescription(refundType) {
  switch (refundType) {
    case 3:
      return '含此标识的课程，课程开始后，可按未学习比例退款，ios课点、京东支付暂不支持主动退款。';
    case 2:
      return '含此标识的课程，课程开始后七天内，可按未学习比例退款，ios课点、京东支付暂不支持主动退款。';
    default:
      return '含此标识的课程，课程开始前可无条件退款，随到随学课程除外，ios课点、京东支付暂不支持主动退款。';
  }
}

function renderCourseType(type) {
  var arr = ['live', 'record', 'data', 'test'];
  return arr[parseInt(type) - 1];
}

function processCatTitle(title, isShort = false) {
  if (isShort) {
    return title.split('·')[0] || '';
  } else {
    return title.replace('·', '');
  }
}

function getCatIconClass(id) {
  var fontsMap = {
    '0': 'all', // 全部
    /** 一级分类 */
    '1001': 'it-internet', // IT互联网
    '1002': 'design-creation', // 设计创作
    '1003': 'language-study-abroad', // 语言留学
    '1004': 'career-examination', // 职业考证
    '1005': 'entrance-examination', // 升学考研
    '1006': 'interest-life', // 兴趣生活
    '1007': 'e-commerce', // 电商营销
    /** 二级分类 IT互联网 */
    '2001': 'internet-products', // 互联网产品
    '2002': 'programing-language', // 编程语言
    '2004': 'front-end-development', // 前端开发
    '2003': 'mobile-development', // 移动开发
    '2005': 'network-and-operation', // 网络与运维
    '2008': 'game-developmentt', // 游戏开发
    '2006': 'software-development', // 软件研发
    '2007': 'cloud-computing', // 云计算大数据
    '2043': 'hardware-development', // 硬件研发
    '2009': 'certification-examination', // 认证考试
    /** 二级分类 设计创作 */
    '2011': 'graphic-design', // 平面设计
    '2012': 'ui-design', // UI设计
    '2013': 'design-software', // 设计软件
    '2014': 'game-animation-design', // 游戏动画设计
    '2015': 'painting-creation', // 绘画创作
    '2016': 'video-post-design', // 影视后期设计
    '2017': 'environmental-art-design', // 环境艺术设计
    '2018': 'industrial-product-design', // 工业产品设计
    '2019': 'clothing-design', // 服装设计
    '2041': 'others', // 其他
    /** 二级分类 语言留学 */
    '2020': 'practical-english', // 实用英语
    '2021': 'studying-abroad', // 出国留学
    '2022': 'cet', // 英语四六级
    '2023': 'japanese', // 日语
    '2024': 'korean', // 韩语
    '2025': 'small-language', // 小语种
    /** 二级分类 职业考证 */
    '2027': 'public-placement-examination', // 公考求职
    '2046': 'law-school', // 法学院
    '2028': 'finance-and-accounting', // 财会金融
    '2039': 'medical-and-health-work', // 医疗卫生
    '2029': 'architectural-engineering', // 建筑工程
    '2044': 'vocational-skills', // 职业技能
    /** 二级分类 升学考研 */
    '2031': 'postgraduate-entrance-examination', // 考研
    '2042': 'university', // 大学
    '2032': 'high-school', // 高中
    '2033': 'junior-middle-school', // 初中
    '2034': 'primary-school', // 小学
    /** 二级分类 兴趣生活 */
    '2038': 'mother-child', // 母婴亲子
    '2047': 'musical-instrument', // 音乐乐器
    '2037': 'literary-and-artistic', // 文艺修养
    '2036': 'household-encyclopedia', // 生活百科
    '2049': 'sports-health', // 运动健康
    '2035': 'investment-and-financing', // 投资理财
    /** 二级分类 电商营销 */
    '2010': 'internet-marketing', // 电商平台(原互联网营销)
    '2050': 'cross-border-e-commerce', // 跨境电商
    '2051': 'social-e-commerce', // 社交电商
    '2052': 'others', // 其他电商
  };
  return 'icate-' + (fontsMap[id] || 'others');
}

module.exports = {
  padZero: padZero,
  renderPrice: renderPrice,
  renderWKPrice: renderWKPrice,
  renderUrl: renderUrl,
  renderLiveTime: renderLiveTime,
  renderAvatar: renderAvatar,
  renderCourseCoverUrl: renderCourseCoverUrl,
  renderCoverTips: renderCoverTips,
  formatOrderedNum: formatOrderedNum,
  getCourseServerList: getCourseServerList,
  getBitMapValue: getBitMapValue,
  renderTitleWithKeyWord: renderTitleWithKeyWord,
  isToday: isToday,
  formatDuration: formatDuration,
  formatDate: formatDate,
  getRefundWording: getRefundWording,
  getRefundDescription: getRefundDescription,
  renderCourseType: renderCourseType,
  processCatTitle: processCatTitle,
  getCatIconClass: getCatIconClass,
};
