@import '../../assets/css/_function.css';

.course {
  padding-top: 15px;
  min-height: 200px;
  font-size: 0;

  &-hd {
    margin-bottom: 16px;
    text-align: center;
    color: #fff;
    font-size: 16px;
  }

  &-bd {
    overflow: hidden;
  }

  &-bd::after {
    clear: both;
  }

  &-item {
    float: left;
    width: calc(50% - 6px);
    margin-bottom: 12px;
    border-radius: 4px;
    overflow: hidden;

    &:nth-of-type(2n) {
      margin-left: 12px;
    }

    &-content {
      padding: 8px 12.5px 12px 12px;
      background-color: #fff;

      &:nth-of-type(2n) {
        padding: 8px 12px 12.5px 12px;
      }
    }

    &-img-wrap {
      width: 100%;
      font-size: 0;
    }

    &-img {
      width: 100%;
    }

    &-title {
      height: 40px;
      margin-bottom: 9px;
      line-height: 20px;
      font-size: 14px;

      @include ellipsis-lines(2);
    }

    &-price {
      height: 24px;
      margin-bottom: 11px;
      display: flex;
      justify-content: space-between;
    }

    &-pricel {
      line-height: 24px;

      &-zero {
        margin-right: 4px;
        font-size: 16px;
        color: #ff4f23;
      }

      &-real {
        font-size: 12px;
        color: #777;
        text-decoration: line-through;
      }

      &-free {
        font-size: 16px;
        color: #ff4f23;
      }
    }

    &-pricer {
      padding-left: 16px;
      line-height: 24px;
      height: 24px;
      background: url(../../assets/img/person_num.png) no-repeat;
      background-position: 0 5px;
      background-size: 14px 14px;
      display: flex;
      align-items: center;

      &-num {
        font-size: 12px;
        color: #777;
      }
    }

    &-btn {
      height: 40px;
      border: none;
      outline: none;
      color: #fff;
      background-color: #23a8ff;
      font-size: 16px;

      &::after {
        border: none;
      }
    }
  }
}
