@import "../../assets/css/_function";

.page--login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;

  /* padding: 20px 20px 50px 20px; */
}

.overlay--wrap {
  position: fixed;
  z-index: 3001;
}

.overlay--login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modal {
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.site-logo {
  width: 280rpx;
  height: 332rpx;
  margin-bottom: 100rpx;
}

.btn {
  width: 520rpx;
  background-color: #23a8ff;
  color: #fff;
}
